@using Microsoft.AspNetCore.Identity
@using BookmarkManager.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <div x-data="{ open: false }" class="dropdown">
        <button x-on:click="open = ! open" class="dropdown-btn">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z" />
            </svg>
            <span>Account</span>
        </button>
        <div x-on:click.outside="open = false" x-show="open" x-cloak x-transition class="dropdown-menu">
            <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@User.Identity?.Name</a>
            <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post" >
                <button type="submit">Logout</button>
            </form>
        </div>
    </div>
}
else
{
    <div>
        <a class="btn" asp-area="Identity" asp-page="/Account/Register">Register</a>
        <a class="btn" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </div>
}
