@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="hero">
    <p class="hero-text"><span class="hero-text-gradient">Save</span>, <span class="hero-text-gradient">manage</span> and <span class="hero-text-gradient">share</span> your bookmarks the easy way.</p>
    <a class="hero-cta" asp-area="" asp-page="/Bookmark/Index">Get Started</a>
</div>

